p{
    margin-top:0;
    margin-bottom:0;
    font-family:arial;
}
.dog-profile{
    display:inline-block;
    margin-right:10px;
    vertical-align: top;

}
.dog-image{
    width:60px;
    height:60px;
    border-radius:50px;
    object-fit:cover;
    object-position:right;
}
.info{
    display:inline-block;
    vertical-align:middle;
    width:170px;
}

.dog-name{
    font-weight:bold;
    font-size:14px;
}
.dog,.popular{
    color:rgb(141, 140, 140);
    font-size:14px;
    margin-top:4px;
}
.popular{
    font-size:6px;
}
.button{
    display:inline-block;
    vertical-align:middle;
}
.follow{
    width:60px;
    background-color: rgb(0, 136, 255);
    color:white;
    font-size:13px;
    border-radius:3px;
    padding-top:5px;
    padding-bottom:5px;
    border:none;
}
.last{
    margin-bottom:100px;
}
.thumbnail1{
    width:200px;
}
.title{
    font-weight:bold;
    line-height: 20px;
    width:250px;
}
.channel-name,.views{
    font-size:10px;
    color:rgb(124, 124, 124);
}
.channel-name{
    margin-top:15px;
}
.views{
    margin-top:8px;
    line-height:5px;
}
.image-profile{
    display:inline-block;
    margin-right:10px;
    vertical-align:top;
}
.info-1{
    display:inline-block;
    vertical-align:top;
}
.video-1{
    display:block;
}